*.iml
.gradle
.gradle-home
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.jks
*.keystore
.kotlin
references/*.pdf
core/bin
__pycache__
*.pyc
